.img-banner {
    height: auto;
    width: 100%;
}

footer {
    background-color: #444;
    padding: 3rem;
    color: #fff;
    text-align: center;
}

.menu-top {

}

.menu-top li .nav-link:hover {
    color: #fff;
    background-color: #007bff;
}