*{
    margin: 0;
    padding: 0;
}
#nav_menul ul{
    list-style-type: none;
    margin-left: 1.25em;
    margin-bottom: 1.5em;
}
#nav_menul ul li{
    width: 200px;
    margin-bottom: .5em;
    border: 2px solid blue;
    display: inline-block;
}
#nav_menul ul li a{
    display: block;
    padding: .5em 0 .5em 1.5em;
    text-decoration: none;
    font-weight: bold;
    color: blue;
}
#nav_menul ul li a.current{
    background-color: silver;
}