*{
    margin: .5em 1em;
}
main{
    border: 2px solid black;
    padding: 1em;
}

h1{
    font-family: Arial, sans-serif;
}
p{
    margin-left: 3em;
}
#copyright{
    font-size: 80%;
}
.blue{
    color: blue;
}
.right{
    text-align: right;
}