#mobile_menu{
    display: none;
}
@media screen and (max-width: 768px){
    body{
        background-color: orange;
    }
    #mobile_menu{
        display: block;
    }
    #nav_menu{
        display: none;
    }

}