body{width: 500px;}
main, aside, footer{
    margin: 0;
    padding: 0px 20px;
    
}
aside{
    margin: 0 20px 10px;
    width: 150px;
    float: right;
    border: 1px solid black;
}
footer{
    clear: both;
}